In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
import pickle

In [15]:
df_review=pd.read_csv('/Users/nicolerodriguez/gwcla/2005_-_2020_Quality_Review_Ratings_20241028.csv')

In [16]:
df_review.head()

,BN,School_Year,Start_Date,Overall_Rating,Indicator_1.1,Indicator_1.2,Indicator_1.3,Indicator_1.4,Indicator_1.5,Indicator_1.6,...,Indicator_4.7,IndicatorOverall_4,Indicator_5.1,Indicator_5.2,Indicator_5.3,Indicator_5.4,Indicator_5.5,Indicator_5.6,Indicator_5.7,IndicatorOverall_5
0,M307,2005-06,38810.0,P,P,P,P,P,No Data,No Data,...,WD,WD,P,P,P,P,No Data,No Data,No Data,P
1,M459,2005-06,38810.0,P,P,P,P,P,No Data,No Data,...,P,P,P,P,P,P,No Data,No Data,No Data,P
2,M560,2005-06,38810.0,WD,WD,WD,WD,WD,No Data,No Data,...,WD,WD,WD,WD,WD,WD,No Data,No Data,No Data,WD
3,K469,2006-07,38987.0,P,P,P,U,P,No Data,No Data,...,P,P,U,P,U,U,No Data,No Data,No Data,U
4,M294,2005-06,38812.0,WD,WD,WD,WD,WD,No Data,No Data,...,WD,WD,P,P,P,P,No Data,No Data,No Data,P

In [31]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9008 entries, 0 to 9007
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BN                  9008 non-null   object
 1   School_Year         9008 non-null   object
 2   Start_Date          9008 non-null   float64
 3   Overall_Rating      9008 non-null   object
 4   Indicator_1.1       9008 non-null   object
 5   Indicator_1.2       9008 non-null   object
 6   Indicator_1.3       9008 non-null   object
 7   Indicator_1.4       9008 non-null   object
 8   IndicatorOverall_1  9008 non-null   object
 9   Indicator_2.1       9008 non-null   object
 10  Indicator_2.2       9008 non-null   object
 11  Indicator_2.3       9008 non-null   object
 12  Indicator_2.4       9008 non-null   object
 13  Indicator_2.5       9008 non-null   object
 14  IndicatorOverall_2  9008 non-null   object
 15  Indicator_3.1       9008 non-null   object
 16  Indicator_3.2       9008 non-null   object
 17  Indicator_3.3       9008 non-null   object
 18  Indicator_3.4       9008 non-null   object
 19  Indicator_3.5       9008 non-null   object
 20  Indicator_3.6       9008 non-null   object
 21  Indicator_3.7       9008 non-null   object
 22  Indicator_3.8       9008 non-null   object
 23  IndicatorOverall_3  9008 non-null   object
 24  Indicator_4.1       9008 non-null   object
 25  Indicator_4.2       9008 non-null   object
 26  Indicator_4.3       9008 non-null   object
 27  Indicator_4.4       9008 non-null   object
 28  Indicator_4.5       9008 non-null   object
 29  Indicator_4.6       9008 non-null   object
 30  Indicator_4.7       9008 non-null   object
 31  IndicatorOverall_4  9008 non-null   object
 32  Indicator_5.1       9008 non-null   object
 33  Indicator_5.2       9008 non-null   object
 34  Indicator_5.3       9008 non-null   object
 35  Indicator_5.4       9008 non-null   object
 36  IndicatorOverall_5  9008 non-null   object
dtypes: float64(1), object(36)
memory usage: 2.6+ MB

In [17]:
df_review.describe()

         Start_Date
count   9008.000000
mean   40961.420182
std     1460.127964
min    38810.000000
25%    39519.000000
50%    40918.500000
75%    42114.000000
max    43902.000000

In [18]:
df_review.columns[df_review.isnull().any()].tolist()

['School_Year',
 'Start_Date',
 'Overall_Rating',
 'Indicator_1.1',
 'Indicator_1.2',
 'Indicator_1.3',
 'Indicator_1.4',
 'Indicator_1.5',
 'Indicator_1.6',
 'Indicator_1.7',
 'IndicatorOverall_1',
 'Indicator_2.1',
 'Indicator_2.2',
 'Indicator_2.3',
 'Indicator_2.4',
 'Indicator_2.5',
 'Indicator_2.6',
 'Indicator_2.7',
 'IndicatorOverall_2',
 'Indicator_3.1',
 'Indicator_3.2',
 'Indicator_3.3',
 'Indicator_3.4',
 'Indicator_3.5',
 'Indicator_3.6',
 'Indicator_3.7',
 'Indicator_3.8',
 'IndicatorOverall_3',
 'Indicator_4.1',
 'Indicator_4.2',
 'Indicator_4.3',
 'Indicator_4.4',
 'Indicator_4.5',
 'Indicator_4.6',
 'Indicator_4.7',
 'IndicatorOverall_4',
 'Indicator_5.1',
 'Indicator_5.2',
 'Indicator_5.3',
 'Indicator_5.4',
 'Indicator_5.5',
 'Indicator_5.6',
 'Indicator_5.7',
 'IndicatorOverall_5']

In [19]:
df_review.isnull().sum()

BN                    0
School_Year           1
Start_Date            1
Overall_Rating        1
Indicator_1.1         1
Indicator_1.2         1
Indicator_1.3         1
Indicator_1.4         1
Indicator_1.5         1
Indicator_1.6         1
Indicator_1.7         1
IndicatorOverall_1    1
Indicator_2.1         1
Indicator_2.2         1
Indicator_2.3         1
Indicator_2.4         1
Indicator_2.5         1
Indicator_2.6         1
Indicator_2.7         1
IndicatorOverall_2    1
Indicator_3.1         1
Indicator_3.2         1
Indicator_3.3         1
Indicator_3.4         1
Indicator_3.5         1
Indicator_3.6         1
Indicator_3.7         1
Indicator_3.8         1
IndicatorOverall_3    1
Indicator_4.1         1
Indicator_4.2         1
Indicator_4.3         1
Indicator_4.4         1
Indicator_4.5         1
Indicator_4.6         1
Indicator_4.7         1
IndicatorOverall_4    1
Indicator_5.1         1
Indicator_5.2         1
Indicator_5.3         1
Indicator_5.4         1
Indicator_5.5         1
Indicator_5.6         1
Indicator_5.7         1
IndicatorOverall_5    1
dtype: int64

In [20]:
df_review.count()

BN                    9009
School_Year           9008
Start_Date            9008
Overall_Rating        9008
Indicator_1.1         9008
Indicator_1.2         9008
Indicator_1.3         9008
Indicator_1.4         9008
Indicator_1.5         9008
Indicator_1.6         9008
Indicator_1.7         9008
IndicatorOverall_1    9008
Indicator_2.1         9008
Indicator_2.2         9008
Indicator_2.3         9008
Indicator_2.4         9008
Indicator_2.5         9008
Indicator_2.6         9008
Indicator_2.7         9008
IndicatorOverall_2    9008
Indicator_3.1         9008
Indicator_3.2         9008
Indicator_3.3         9008
Indicator_3.4         9008
Indicator_3.5         9008
Indicator_3.6         9008
Indicator_3.7         9008
Indicator_3.8         9008
IndicatorOverall_3    9008
Indicator_4.1         9008
Indicator_4.2         9008
Indicator_4.3         9008
Indicator_4.4         9008
Indicator_4.5         9008
Indicator_4.6         9008
Indicator_4.7         9008
IndicatorOverall_4    9008
Indicator_5.1         9008
Indicator_5.2         9008
Indicator_5.3         9008
Indicator_5.4         9008
Indicator_5.5         9008
Indicator_5.6         9008
Indicator_5.7         9008
IndicatorOverall_5    9008
dtype: int64

In [21]:
uniquecode= df_review['Indicator_1.3'].unique()
uniquecode

array(['P', 'WD', 'U', 'No Data', 'O', 'UPF', '0', 'D', 'UD', nan],
      dtype=object)

In [25]:
df_review = df_review.dropna(subset=df_review.columns.values)

In [26]:
df_review.isnull().sum()

BN                    0
School_Year           0
Start_Date            0
Overall_Rating        0
Indicator_1.1         0
Indicator_1.2         0
Indicator_1.3         0
Indicator_1.4         0
Indicator_1.5         0
Indicator_1.6         0
Indicator_1.7         0
IndicatorOverall_1    0
Indicator_2.1         0
Indicator_2.2         0
Indicator_2.3         0
Indicator_2.4         0
Indicator_2.5         0
Indicator_2.6         0
Indicator_2.7         0
IndicatorOverall_2    0
Indicator_3.1         0
Indicator_3.2         0
Indicator_3.3         0
Indicator_3.4         0
Indicator_3.5         0
Indicator_3.6         0
Indicator_3.7         0
Indicator_3.8         0
IndicatorOverall_3    0
Indicator_4.1         0
Indicator_4.2         0
Indicator_4.3         0
Indicator_4.4         0
Indicator_4.5         0
Indicator_4.6         0
Indicator_4.7         0
IndicatorOverall_4    0
Indicator_5.1         0
Indicator_5.2         0
Indicator_5.3         0
Indicator_5.4         0
Indicator_5.5         0
Indicator_5.6         0
Indicator_5.7         0
IndicatorOverall_5    0
dtype: int64

In [29]:
df_review.head()

,BN,School_Year,Start_Date,Overall_Rating,Indicator_1.1,Indicator_1.2,Indicator_1.3,Indicator_1.4,Indicator_1.5,Indicator_1.6,...,Indicator_4.7,IndicatorOverall_4,Indicator_5.1,Indicator_5.2,Indicator_5.3,Indicator_5.4,Indicator_5.5,Indicator_5.6,Indicator_5.7,IndicatorOverall_5
0,M307,2005-06,38810.0,P,P,P,P,P,No Data,No Data,...,WD,WD,P,P,P,P,No Data,No Data,No Data,P
1,M459,2005-06,38810.0,P,P,P,P,P,No Data,No Data,...,P,P,P,P,P,P,No Data,No Data,No Data,P
2,M560,2005-06,38810.0,WD,WD,WD,WD,WD,No Data,No Data,...,WD,WD,WD,WD,WD,WD,No Data,No Data,No Data,WD
3,K469,2006-07,38987.0,P,P,P,U,P,No Data,No Data,...,P,P,U,P,U,U,No Data,No Data,No Data,U
4,M294,2005-06,38812.0,WD,WD,WD,WD,WD,No Data,No Data,...,WD,WD,P,P,P,P,No Data,No Data,No Data,P

In [30]:
df_review.drop(columns=['Indicator_2.6','Indicator_2.7', 'Indicator_5.5', 'Indicator_5.6', 'Indicator_5.7', 'Indicator_1.5', 'Indicator_1.6', 'Indicator_1.7'], inplace=True)